body{
    margin: 8px;
    font-family: 'Open Sans', sans-serif;
}
.main-label {
    margin: 8px 0;
    /*font-family: 'Open Sans', sans-serif;*/
    color: #ed092a;
    font-size: 18px;
    font-weight: bold;
}
.type-switch-link{
    color: blue;
    margin: 0 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 2.2em;
}
.login-form {

}
.login-form._hidden {
    display: none;
}
.main-form {
    width: 100%;
    height: 100%;
    display: flex;
}
.main-form._hidden {
    display: none;
}
.main-form iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.main-form__iframe {
    border: none;
    flex-grow: 1;
}

.main-form__iframe .form,
.main-form__iframe .form .control-wrapper {
    border: none;
}

.main-form__iframe .control.edit {
    border-width: thin;
    border-radius: 4px;
}
.main-form__iframe .control.label {
    line-height: 23px;
}

.toolbar__user-block {
    float: right;
    width: auto;
    padding-right: 30px;
}

.user-block__user-name {
    font-family: serif;
    font-size: 17px;
    color: #ed092a;
    line-height: 2.2em;
    font-weight: bold;
    padding-right: 20px;
    float: left;
}

.buttons-block {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    float: left;
    max-width: 200px;
}

.mobi-button {
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin: 5px 0;
    min-height: 2.2em;
}

.mobi-button.blue {
    border: 1px solid cornflowerblue;
    background-color: #0b3aed;
    color: aliceblue;
}

.mobi-button.orange {
    border: 1px solid #edba7f;
    background-color: #ed760c;
    color: aliceblue;
}

.calypso-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}