<html>
<head>
    <title>iFrame Calypso</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/public/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-label">Calypso работает в iFrame</div>
    <form class="login-form _hidden" id="login" action="/api/login" method="post">
        <div class="container">
            <label for="login"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="login" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>
    <div class="main-form _hidden">
        <div class="buttons-block"></div>
        <div class="calypso-wrapper">
            <div class="toolbar">
                <div class="toolbar__buttons-block"></div>
                <a href="/" class="type-switch-link">перейти в BUNDLE режим</a>
                <div class="toolbar__user-block">
                    <div class="user-block__user-name"></div>
                    <button class="mobi-button orange" onclick=changeUser()>Выход</button>
                </div>
            </div>
            <div class="main-form__iframe">
                <div class="calypso-root" id="iframe-container"></div>
            </div>
        </div>
    </div>
</body>
</html>