<html>
    <head>
        <script src="http://localhost:3333/socket.io/socket.io.js"></script>
        <script src="http://localhost:3333/public/client-bundle.js"></script>

<!--        <script src="https://code.jquery.com/jquery-3.4.1.min.js"-->
<!--                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="-->
<!--                crossorigin="anonymous"></script>-->


        <script>
            var USE_BUNDLES = true;
        </script>

        <link href="http://localhost:3333/public/libs/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="http://localhost:3333/public/client-bundle.css" media="all">


        <script src="http://localhost:3333/public/uccello/uses/require.js"></script>

        <script src="http://localhost:3333/public/calypso-bundle.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        <script src="/src/main.js"></script>
    </head>
    <body>
        <form class="login-form _hidden" id="login" action="/api/login" method="post">
            <div class="container">
                <label for="login"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="login" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
            </div>
        </form>
        <div class="main-form _hidden">
            <div class="toolbar">
                <button class="toolbar__button js-author-button" data-id="1">Кукин</button>
                <button class="toolbar__button js-author-button" data-id="2">Листов</button>
                <button class="toolbar__button js-author-button" data-id="3">Лекманов</button>
                <div class="toolbar__user-block">
                    <div class="user-block__user-name"></div>
                    <button class="toolbar__button button__change-user" onclick=changeUser()>Выход</button>
                </div>
            </div>
            <div class="main-form__iframe" id="iframe-container"></div>
        </div>
    </body>
</html>