<html>
    <head>
        <title>Calypso в режиме js</title>
        <script src="<%- url %>/public/client-bundle.js"></script>
        <link href="<%- url %>/public/libs/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="<%- url %>/public/client-bundle.css" media="all">
        <script src="<%- url %>/public/uccello/uses/require.js"></script>
        <script src="<%- url %>/public/calypso-proxy.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        <script src="/public/main.js"></script>
    </head>
    <body>
        <form class="login-form _hidden" id="login" action="/api/login" method="post">
            <div class="container">
                <label for="login"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="login" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
            </div>
        </form>
        <div class="main-form _hidden">
            <div class="buttons-block"></div>
            <div class="calypso-wrapper">
                <div class="toolbar">
                    <a href="/iframe" class="type-switch-link">перейти в IFRAME режим</a>
                    <div class="toolbar__user-block">
                        <div class="user-block__user-name"></div>
                        <button class="mobi-button orange" onclick=changeUser()>Выход</button>
                    </div>
                </div>
                <div class="main-form__iframe" id="MyDiv"></div>
            </div>
        </div>
    </body>
</html>