<html>
    <head>
        <script src="http://127.0.0.1:3333/public/client-bundle.js"></script>
        <link href="http://127.0.0.1:3333/public/libs/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="http://127.0.0.1:3333/public/client-bundle.css" media="all">
        <script src="http://127.0.0.1:3333/public/uccello/uses/require.js"></script>
        <script src="http://127.0.0.1:3333/public/calypso-proxy.js"></script>
        <link rel="stylesheet" href="/css/main.css">
        <script src="/src/main.js"></script>
    </head>
    <body>
        <form class="login-form _hidden" id="login" action="/api/login" method="post">
            <div class="container">
                <label for="login"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="login" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
            </div>
        </form>
        <div class="main-form _hidden">
            <div class="toolbar">
                <button class="toolbar__button js-author-button" data-id="1">Кукин</button>
                <button class="toolbar__button js-author-button" data-id="2">Листов</button>
                <button class="toolbar__button js-author-button" data-id="3">Лекманов</button>
                <a href="/iframe" class="type-switch-link">перейти в IFRAME режим</a>
                <div class="toolbar__user-block">
                    <div class="user-block__user-name"></div>
                    <button class="toolbar__button button__change-user" onclick=changeUser()>Выход</button>
                </div>
            </div>
            <div class="main-form__iframe" id="MyDiv"></div>
        </div>
    </body>
</html>